<!-- views/pages/index.ejs -->
<style>

</style>
<!DOCTYPE html>
<html lang="en">
<head>
<% include ../layouts/head %>
</head>
<header>
<% include ../layouts/sidenav %>
</header>
<%= form_values %>
<% if (form_values) { %>
    <% form_values.forEach(el => { %>
        <%= el.name %>

        <script>
            var name = "<%= el.name %>"
            var passenger_capacity = "<%= el.passenger_capacity %>";
            var airplane_type = "<%= el.airplane_type %>"
        </script>
    <% }); %>
<% } %>
<body class="container">
<main>
    <div class="row container z-depth-3">
        <div class="col s12">    
            <div class="jumbotron">
                <h2 class=""> <%= title %> </h2>
                <p>Please fill in the corresponding information to create a new airplane </p>
            </div>
            </div class="container">
                <div class="row" style="width: 100%">
                    <form action="/airplane/create" method="post" class="col s12">
                        
                        <input name="id" type="hidden" value="<%= airplane.id %>" id="id" />

                        <div class="input-field col s12">
                            <input id="airplane_name" type="text" class="validate" name="name" 
                                value="<%= airplane.name %>" 
                            />
                            <label for="airplane_name">Airplane Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="passenger_capacity" type="text" class="validate" name="passenger_capacity" 
                                value="<%= airplane.passenger_capacity %>" />
                            <label for="passenger_capacity">Passenger Capacity</label>
                        </div>
                        
<!-- 
                        <div class="input-field col s12">
                            <input id="select_airplanetype" type="text" class="validate" name="airplane_type" 
                                value="<%= airplane.airplane_type %>"
                            />
                            <label for="select_airplanetype">Airplane Type</label>
                        </div>
                         -->
                        <div class="input-field col s12">
                            <select name="airplane_type">
                              <option value="" disabled selected>Choose airplane type</option>
                              <option value="Airbus 6S">AIRBUS 6S</option>
                              <option value="Airbus 9S">AIRBUS 9S</option>
                            </select>
                            <label>Airplane Type</label>
                        </div>
                        

                        <% include ../element/messages_materialize %>

                       <!--  <span id="spnError" style="color: Red; font-size: 14px;">
                            <% if (typeof messages === 'undefined') { %>
                                <% messages.forEach(el => { %>
                                    <%= el.error %>* </br>
                                <% }) %>
                            <% } %>
                        </span>
 -->
                        <button class="btn waves-effect waves-light right submit-btn" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
<% include ../layouts/footer %>
</footer>

</body>



</html>
<script>
    $('document').ready( function()  {
        console.log(name);
        if (name) {
            $('#airplane_name').val(name);
        }

        $(document).ready(function(){
            $('select').formSelect();
        });
        // if (passenger_capacity) {
        //     $('#passenger_capacity').val(passenger_capacity);
        // }
        // if (typeof airplane_type !== 'undefined') {
        //     $('#select_airplanetype').val(airplane_type);
        // }
    })
</script>