<style>
    .luggage {
        /* width: 20%; */
        height: 20%;
    }
    .td-bg {
        background-position: center; 
        background-size: contain; 
        background-repeat: no-repeat;
        height: 200px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
<% include ../layouts/head %>
</head>
<header>
<% include ../layouts/sidenav %>
</header>
    <body class="container">
        <% include ../element/viewLuggageDetails %>
        <main>
            <div class="" style="margin-left: 10%">
                <a href="/flight/create" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i>Add Flight</a>
                <a href="#modal2" id="viewDetails" data-flightId="<%= resultData.flight_id %>" data-flight_number="<%= resultData.flight_number %>" class="waves-effect waves-light btn right modal-trigger"><i class="material-icons left">add_box</i>View Details</a>
                <table id="table" class="display centered highlight" width="100%">
                    <thead>
                        <tr class=>
                            <th width="25%">A</th>
                            <th width="25%">B</th>
                            <th width="25%">C</th>
                            <th width="25%">D</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <%
                        const count = resultData.passenger_capacity;
                        const row = count/4;
                        if (count % 4 == 0) {
                            for (i=0; i < row; i++) { %>
                                <tr>
                                    <!-- <td background="/public/images/bag.png">seat-<%= i+1 %>A</td> -->
                                    
                                    <td id="seat-<%= i+1 %>A" class="luggage td-bg" background="/public/images/bag.png"><span style="color:whitesmoke; font-size: 32px"><%= i+1 %>A</span></td>
                                    <td id="seat-<%= i+1 %>B" class="luggage td-bg" background="/public/images/bag.png"><span style="color:whitesmoke; font-size: 32px"><%= i+1 %>B</span></td>
                                    <td id="seat-<%= i+1 %>C" class="luggage td-bg" background="/public/images/bag.png"><span style="color:whitesmoke; font-size: 32px"><%= i+1 %>C</span></td>
                                    <td id="seat-<%= i+1 %>D" class="luggage td-bg" background="/public/images/bag.png"><span style="color:whitesmoke; font-size: 32px"><%= i+1 %>D</span></td>
                                </tr>
                            <% }
                        } else if (count % 4 == 2) {
                            for (i=0; i < Math.floor(row); i++) { %>
                                <tr>
                                    <td><img class="luggage" src="/public/images/bag.png"></td>
                                    <td><img class="luggage" src="/public/images/bag.png"></td>
                                    <td><img class="luggage" src="/public/images/bag.png"></td>
                                    <td><img class="luggage" src="/public/images/bag.png"></td>
                                </tr>
                        <%  } %>
                            <tr>
                                <td></td>
                                <td><img class="luggage" src="/public/images/bag.png"></td>
                                <td><img class="luggage" src="/public/images/bag.png"></td>
                                <td></td>
                            </tr>
                    <%  } %>
                    </tbody>
                </table>
            </div>

        </main>
    





    <footer>
        <% include ../layouts/footer %>
    </footer>
    
    </body>
     
</html>
<script>
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  $(document).ready(() => {
    getLuggageStatus("<%- resultData.flight_id %>");
    dataTable = $('.luggageDetailsTable').DataTable({})
    $('.modal').modal();

    var config = {
        apiKey: "AIzaSyCyvVSCRq0_gLLXBQvdWFUfQGcQ4Sn9sJk",
        authDomain: "n-a-i-a.firebaseapp.com",
        databaseURL: "https://n-a-i-a.firebaseio.com",
        projectId: "n-a-i-a",
        storageBucket: "<BUCKET>.appspot.com",
        messagingSenderId: "478587123901",
    };
    firebase.initializeApp(config);
    var database = firebase.database();
    
    var rfidRef = firebase.database().ref('rfid:');
    
    rfidRef.once('value').then((snapshot)=> {
        console.log(snapshot.val().RFID_ID);
        console.log(snapshot.key);
    });
    
    rfidRef.on('child_changed', function(data) {
        console.log(data);
        const rfid = data.val();
        scanRfid(rfid);
    });

    $('#viewDetails').on('click', function() {
        const flight_id = $(this).data('flightid');
        const flight_num = $(this).data('flight_number');
        $('.luggageDetailsBody').html('');
        $.get("/luggage/details",{
            flight_id : flight_id
        }).done( (json) => {
            dataTable.destroy();
            dataTable = $('.luggageDetailsTable').DataTable({
                data: json.data,
                dom: 'Bfrtip',
                buttons: [
                    {
                        autoPrint: false,
                        extend: 'print',
                        title: '',
                        messageTop: 'Luggage Logs:',
                        customize: function (win) {
                            $(win.document.body)
                            .prepend('<center><h5>Luggage Report Summary for: <strong></br>'+ flight_num +'</strong></h5></center>'+
                                    'Date:' +  '</br> '+
                                    'Total Arrived:' + ' </br>' +
                                    'Total Delayed:' + ' </br>'   
                            );
                        }
                    }
                ],
                columns: [
                    { data: 'name'},
                    { data: 'arrival_time'},
                    { data: 'departure_time'},
                ]
            }) // ===== END OF DATATABLES
        })
    }); 
});

function scanRfid(rfid_uid) {
    $.get("/rfidScan",{
        rfid: rfid_uid
    }).then( (json) => {
        //expected result dito is yung seat number.
        //first arrival
        console.log(json);
        const seat_number = json.seat_number; 
        $('#seat-'+seat_number).css('background-color','rgb(96, 226, 96)');

    });
}

function getLuggageStatus(flight_id) {
    $.get('/getLuggageStatus',{
        flightId : flight_id
    }).then( (json) => {
        console.log(json);
        json.resultData.forEach((el, i) => {
            if (el.status === 'arrived') {
                $('#seat-'+el.seat_number).css('background-color','rgb(96, 226, 96)');
            }
            if (el.status === 'pickedUp') {
                $('#seat-'+el.seat_number).css('background-color','#5498ff');
            }
            if (el.status === 'delayed') {
                $('#seat-'+el.seat_number).css('background-color','#f44336');
            }
        });
    });
}

function getLuggageCount(flight_id) {

}
</script> 